.form{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    

    .usuariop{
        padding-right: 73px;
    }
    
    

    input{
        margin: 10px;
       
    }
    
    label{
        display: flex;
        justify-content: flex-start;
    }
    .Email{
        padding-right:107px;
    }

    .contra{
        padding-right: 65px;
    }
    form{
        display: flex;
        flex-direction: column;
        height: 500px;
        
    }

}