.nav{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    
    
    .hover:hover{
        text-decoration: underline;
    }
    a{
        text-decoration: none;
        color: black;
    }
   
}
.user-log{
    display: flex;
    align-items:center ;
    
}
.user{
    font-style: italic;
    font-weight: 400;
}