.nav{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    .active{
        text-decoration: underline;
        
    }

    a{
        text-decoration: none;
        color: black;
    }
    p{
        margin-left: 20px;
    }
}