html, body {
  min-height: 100%;
  position: relative;
}

.App {
  text-align: center;
  
}
h1{
  margin:2px;
  font-size: 44px;
  padding: 20px;
}
.logo{
  margin-top: 15px;
  margin-bottom: 10px;
  width:130px;
}
/* .cont-app{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
} */